<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/assets/site.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://unpkg.com/cbor-web' crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="/assets/index.js"></script>
    <title>Welcome to the chat app! </title>
</head>

<body>
    Username: <input type="text" id="usrField">
    <table class="chatMessages" />
    <button id="msgSendBut" type="submit">Send Message</button>
    <input type="text" name="messageContent" id="msgCont">
</body>

</html>